@import "tailwindcss";

:root {
  --background: hsl(0, 0%, 8%);
  --foreground: hsl(0, 0%, 12%);
  --acolor: hsl(0, 0%, 20%);
  --pcolor: hsl(75, 94%, 57%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-pcolor: var(--pcolor);
  --color-acolor: var(--acolor);
}



