@import "tailwindcss";

*{
  box-sizing: border-box;
}

:root {
  --background: hsl(47, 88%, 63%);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

.h1hover:hover{
  color: hsl(47, 88%, 63%);
}
